<div class="advert">
    <div class="header">
        <h2>Título</h2>

        <div class="space-items">
            <p>Nome do proprietário</p>
            <button>quero alugar</button>
        </div>
    </div>
    <div class="slide">
        <img src="../../assets/images/apartamento1.jpg" alt="Imagem do apartamento" />
    </div>
    <div class="informations">
        <h3>Tipo de informação:</h3>
        <p>Não obstante, o acompanhamento das preferências de consumo cumpre um papel essencial na formulação do orçamento setorial.</p>
        <div class="traits">
            <span></span>
        </div>
    </div>
</div>