.rents {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    grid-row-gap: 1em;
    margin: 2em auto;

    .rent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 140px;
            height: 100px;
            margin-bottom: .5em;
        }
    }
}