<div class="content">
    <div class="rents">
        <a [routerLink]="['/advert']" class="rent">
            <img src="../../assets/images/apartamento1.jpg" alt="apartamento para alugar" />
            <p>Aluguel do Mario</p>
        </a>
        <a [routerLink]="['/advert']" class="rent">
            <img src="../../assets/images/apartamento2.jpg" alt="apartamento para alugar" />
            <p>Aluguel do Lucas</p>
        </a>
        <a [routerLink]="['/advert']" class="rent">
            <img src="../../assets/images/apartamento1.jpg" alt="apartamento para alugar" />
            <p>Aluguel da Maria</p>
        </a>
        <a [routerLink]="['/advert']" class="rent">
            <img src="../../assets/images/apartamento2.jpg" alt="apartamento para alugar" />
            <p>Aluguel do Fernando</p>
        </a>
        <a [routerLink]="['/advert']" class="rent">
            <img src="../../assets/images/apartamento1.jpg" alt="apartamento para alugar" />
            <p>Aluguel do Gustavo</p>
        </a>
        <a [routerLink]="['/advert']" class="rent">
            <img src="../../assets/images/apartamento2.jpg" alt="apartamento para alugar" />
            <p>Aluguel do Maurício</p>
        </a>
    </div>
</div>