header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: none;
    padding: 0;

    li {
        list-style: none;
        margin: 1em auto;
    }
}

.btn-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .logo {
        width: 60px;
    }
}
