<header [ngStyle]="{ 'background-color': isOnMenu ? '#ccc' : '#fff' }">
    <div class="btn-menu" (click)="toggleMenu()">
        <img src="../../assets/images/logo.png" alt="logo meuAluguel" class="logo" />
    </div>

    <ul [ngStyle]="{ 'display': isOnMenu ? 'block' : 'none' }">
        <li><a href="">Item navegação</a></li>
        <li><a href="">Item navegação</a></li>
        <li><a href="">Item navegação</a></li>
        <li><a href="">Item navegação</a></li>
        <li><a href="">Item navegação</a></li>
    </ul>
</header>