footer {
    text-align: center;
    background-color: #ccc;
}

.socials{
    padding: 1em;
    
    a {
        color: #000;

        i {
            font-size: 3em;
        }
    }
}

.rights {
    margin: .1em;
}